<?xml version="1.0"?>
<config>
    <modules>
        <YG1_Configurator>
            <version>0.1.0</version>
        </YG1_Configurator>
    </modules>
    <global>
        <blocks>
            <yg1_configurator>
                <class>YG1_Configurator_Block</class>
            </yg1_configurator>
            <yg1_configurator_adminhtml>
                <class>YG1_Configurator_Block_Adminhtml</class>
            </yg1_configurator_adminhtml>
        </blocks>
        <models>
            <yg1_configurator>
                <class>YG1_Configurator_Model</class>
            </yg1_configurator>
        </models>
        <helpers>
            <yg1_configurator>
                <class>YG1_Configurator_Helper</class>
            </yg1_configurator>
        </helpers>
        <!--
        <resources>
            <yg1_configurator_setup>
                <setup>
                    <module>YG1_Configurator</module>
                </setup>
            </yg1_configurator_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <yg1_configurator>
                        <class>yg1_configurator/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </yg1_configurator>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        <!--
        <routers>
           <yg1_configurator>
               <use>standard</use>
               <args>
                   <module>YG1_Configurator</module>
                   <frontName>mgt</frontName>
               </args>
           </yg1_configurator>
        </routers>
        -->
        <layout>
            <updates>
                <yg1_configurator>
                    <file>yg1_configurator.xml</file>
                </yg1_configurator>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <YG1_Configurator before="Mage_Adminhtml">YG1_Configurator_Adminhtml</YG1_Configurator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <yg1_configurator_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>yg1_configurator/observer::methodName</model>
                </run>
            </yg1_configurator_cron>
        </jobs> 
    </crontab>
    -->
</config>
